*{
	margin: 0;
	background-color: black;
}
a{

	color: inherit;
	background-color: white;
}
#head {
	margin: 0;
	padding: 5px;
	text-align: center;
	direction: rtl;
	background-color: white;
	font-weight: bold;
	font-size: 25px;
	color: black;
	position: fixed;
	z-index:1;
	width:100%;
	top: 0px;
}
#head2 {
	margin: 0;
	direction: rtl;
	padding: 10px;
	text-align: center;
	background-color: purple;
	font-weight: bold;
	font-size: 15px;
	color: white;
	position: fixed;
	z-index:1;
	width:100%;
	top: 40px;
}
#menu {
	margin: 0;
	padding: 10px;
	text-align: center;
	direction: rtl;
	background-color: white;
	font-weight: bold;
	font-size: 12px;
	color: black;
	position: fixed;
	z-index:1;
	width:100%;
	top: 79px;
}

#para {
	margin: 5;
	padding: 5px;
	font-size: 50px;
	color: white;
	
}
