* {
	margin: 0;
	padding: 0;
	font-family: 'Tajawal', sans-serif;
}
body {
background-color: black;
color: white;

}
/* All the Website */
.container{
	margin-top: 10px;
}
/*===============================/*

/* The Navigation Bar */
.nav{
	margin: 5px;
	height: 50px;
}

.nav-bar{
	float: left;
}

.logo{
	float: right;
	transition: all 0.2s ease-out;
	
}
.logo .logotext {
	float: left;
	font-weight: bold;
	text-align: right;
	direction: rtl;
	padding: 10px;
	margin-top: 5px;
}
.logo img {
	float: right;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	transition: all 0.2s ease-out;
}
.nav-bar ul li {
	float: right;
	list-style-type: none;
	padding: 10px;
	background-color: tomato;
	margin-top: 5px;
	margin-left: 6px;
	margin-right: 6px;
	transition: all .2s ease-out;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}

.nav-bar ul li:hover {
	background-color: burlywood;

}
.nav-bar a {
	color: white;
	text-decoration: none;
}
/*===============================/*

/*Main Image
.hero-img {
	margin: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}
.hero-img img {
	width: 100%;
}
*/
/*===============================/*

/* Latest News */
.latest {
	border: 2px dashed;
	padding: 10px;
	margin: 10px;
	text-align: center;
	border-radius: 15px;
	transition: all 0.2s ease-out;
	height: 50px;
}

.latestimg {
	float: right;
	width: 50px;
	padding-left: 10px;
}

.latestimg img {
	width: 100%;
	border-radius: 10px;
}
.latest:hover {
	background-color: burlywood;
	color: black;
}
.latestTitle {
	text-align: right;
	direction: rtl;
}
.latestContent {
	text-align: right;
	direction: rtl;
}
/*===============================/*
