@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Bold.eot');
    src: local('Tajawal-Bold'),
        url('/fonts/Tajawal-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Tajawal-Bold.woff2') format('woff2'),
        url('/fonts/Tajawal-Bold.woff') format('woff'),
        url('/fonts/Tajawal-Bold.ttf') format('truetype'),
        url('/fonts/Tajawal-Bold.svg#Tajawal-Bold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Medium.eot');
    src: local('Tajawal-Medium'),
        url('/fonts/Tajawal-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Tajawal-Medium.woff2') format('woff2'),
        url('/fonts/Tajawal-Medium.woff') format('woff'),
        url('/fonts/Tajawal-Medium.ttf') format('truetype'),
        url('/fonts/Tajawal-Medium.svg#Tajawal-Medium') format('svg');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Tajawal';
}
body {
	background-color: black;
	color: white;

}
/* All the Website */
.container{
	margin-top: 10px;
}
/*===============================/*
/* The Navigation Bar */
.nav{
	border-bottom: 2px solid;
	overflow: hidden;
	margin: 0px;
	height: 55px;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	background-color: rgba(0, 0, 0, 0.753);
}

.nav-bar{
	float: left;
	padding-left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 0;
}

.logo{
	float: right;
	transition: all 0.2s ease-out;
	height: 50px;
	margin: 2px 10px;
}
.logo .logotext {
	float: left;
	font-weight: bold;
	text-align: right;
	direction: rtl;
	margin-top: 14px;
	margin-right: 8px;
	
}
.logo img {
	float: right;
	width: 45px;
	height: 45px;
	transition: all 0.2s ease-out;
}

.logo a {
	color: white;
	text-decoration: none;
}
.nav-bar ul li {
	vertical-align: middle;
	float: right;
	list-style-type: none;
	padding: 8px;
	background-color: tomato;
	margin: 5px 6px;
	transition: all .2s ease-out;
	border-radius: 5px;
	font-size: 10px;
	font-weight: bold;
}

.nav-bar ul li:hover {
	background-color: wheat;
}
.nav-bar a {
	color: white;
	text-decoration: none;
}
/*===============================/*

/* Main Content */
.mainContent {
	clear: both;
	margin: 80px auto;
	width: 70%;
}
/*===============================/*

/* Latest News */
.latest {
	border: 2px dashed;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
	transition: all 0.2s ease-out;
	height:fit-content;
	margin: 20px 10px;

}

.latestTitle {
	text-align: center;
	direction: rtl;
}
.latestContent {
	margin-top: 5px;
	text-align: center;
	direction: rtl;
}
/*===============================*/


 
/*Footer*/
footer {
	padding: 5px;
	margin: 5px;
	text-align: center;
	direction: rtl;
	border-top: 1px solid;
}

footer p {
	margin: 5px;
}

@media screen and (max-width: 480px) {
	.mainContent {
		clear: both;
		margin: 80px auto;
		width: 100%;
	}


}