@import url("/css/anime_nav.css");

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Bold.eot');
    src: local('Tajawal-Bold'),
        url('/fonts/Tajawal-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Tajawal-Bold.woff2') format('woff2'),
        url('/fonts/Tajawal-Bold.woff') format('woff'),
        url('/fonts/Tajawal-Bold.ttf') format('truetype'),
        url('/fonts/Tajawal-Bold.svg#Tajawal-Bold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Medium.eot');
    src: local('Tajawal-Medium'),
        url('/fonts/Tajawal-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Tajawal-Medium.woff2') format('woff2'),
        url('/fonts/Tajawal-Medium.woff') format('woff'),
        url('/fonts/Tajawal-Medium.ttf') format('truetype'),
        url('/fonts/Tajawal-Medium.svg#Tajawal-Medium') format('svg');
}

.latest {
	border: 2px dashed;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
	transition: all 0.2s ease-out;
	margin: 20px 10px;
	height: auto;
	width: auto;

}

.latestimg {
	float: none;
	margin: 0;
	padding: 10px;
	height: auto;
	width: auto;
	align-content: center;
}

.latestimg img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}


.latestTitle {
	padding-bottom: 5px;
	text-align: center;
	direction: rtl;
}
.latestContent {
	text-align: center;
	direction: rtl;
}

.latestContent ul li {
	text-decoration: none;
	}
.latestContent a {
	color: rgb(46, 179, 255);
	font-weight: bold;
}
.latestyoutube {
	float: none;
	margin: 0;
	padding: 10px;
	height: auto;
	width: auto;
	align-content: center;
}

.links {
	border: 2px dashed;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
	transition: all 0.2s ease-out;
	margin: 20px 10px;
	height: auto;
}
.mega {
	background-color: #d90007;
	padding: 5px;
	width: 250px;
	border-radius: 8px;
	transition: all 0.2s ease-out;
	border: 2px solid black;
}
.buttonlink {
	padding: 5px;
}
.links a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-shadow:0 0 5px black;
}

.button {
	margin: 10px;
	display: inline-block;
}

.zippyshare {
	background-color: #ff6600;
	padding: 5px;
	width: 250px;
	border-radius: 8px;
	transition: all 0.2s ease-out;
	border: 2px solid black;
}

.mega:hover {
	border: 2px solid white;
}
.zippyshare:hover {
	border: 2px solid white;
}

.drive {
	background-color: #1fb800;
	padding: 5px;
	width: 250px;
	border-radius: 8px;
	transition: all 0.2s ease-out;
	border: 2px solid black;
}

.drive:hover {
	border: 2px solid white;
}

.oped {
	background-color: #5700b9;
	padding: 5px;
	width: 250px;
	border-radius: 8px;
	transition: all 0.2s ease-out;
	border: 2px solid black;
}

.oped:hover {
	border: 2px solid white;
}

.pv {
	background-color: #004ab9;
	padding: 5px;
	width: 250px;
	border-radius: 8px;
	transition: all 0.2s ease-out;
	border: 2px solid black;
}

.pv:hover {
	border: 2px solid rgb(226, 238, 255);
}

.greenbutton {
	background-color: #4f8a10;
	padding: 2px;
	padding-top: 5px;
	width: 75px;
	border-radius: 8px;
	height: 20px;
	display: inline-block;
	margin: 5px;
}
.pinkbutton {
	background-color: #c14b8e;
	margin: 5px;
	padding: 2px;
	padding-top: 5px;
	width: 170px;
	border-radius: 8px;
	height: 20px;
	display: inline-block;
}
.download {
	border: 2px dashed;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
	transition: all 0.2s ease-out;
	margin: 20px 10px;
	height: auto;
	width: auto;

}

.downloadTitle {
	margin-bottom: 15px;
	text-align: center;
	direction: rtl;
	display: inline-block;
}
.downloadContent {
	text-align: center;
	direction: rtl;
	display: inline-block;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Tajawal';
}
body {
	background-color: black;
	color: white;

}
/* All the Website */
.container{
	margin-top: 10px;
}
/* Main Content */
.mainContent {
	clear: both;
	margin: 80px auto;
	width: 70%;
}
/*===============================/*

/* Comments*/
.comments {
	border: 2px solid;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
	direction: rtl;
	text-align: center;
}


/*Footer*/
footer {
	padding: 5px;
	margin: 5px;
	text-align: center;
	direction: rtl;
	border-top: 1px solid;
}

footer p {
	margin: 5px;
}

@media screen and (max-width: 480px) {
	.mainContent {
		clear: both;
		margin: 80px auto;
		width: 100%;
	}


}
